.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}    

button {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: #ffd600;
    box-shadow: 0.1px 0.75px 0.75px 1.5px rgba(0, 0, 0, 0.5);
    color: #000;
}

button:hover {
    background-color: #FFE977;
}

button:active {
    color: #e4010b;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}