@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.app {
  background-color: #2b2c36;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  
}

.container {
  display: flex;
  justify-content: center;
  /* height: 40vh; */
  width: 100%;
  color: #fff;
  /* flex: 0.6; */
}

.currentSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  color: #dbe8f1;
}


.item {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  /* height: 150px; */
  background-color: #dbe8f1;
  color: #343434;
  padding: 1em;
  /* font-weight: 700; */
  /* color: var(--clr-light); */
  /* text-align: center; */

  box-shadow: 0.1px 2px 2px 3px rgba(135, 135, 135, 0.1);
  border-radius: 10px;
  margin: 10px;
}

.bg-color-1 {
  background-color: #00a85d;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  text-align: left;
  background: #153dda;
  color: #dbe8f1;
}

.navbar h1 {
  margin: 10px 0 0 20px;
}